
.icon-link:before { content: '\e800'; } /* '' */
.icon-arrow-long:before { content: '\e804'; } /* '' */
.icon-email:before { content: '\e805'; } /* '' */
.icon-arrow:before { content: '\e806'; } /* '' */
.icon-close:before { content: '\e807'; } /* '' */
.icon-call-answer:before { content: '\e808'; } /* '' */
.icon-call:before { content: '\e809'; } /* '' */