<!DOCTYPE html>
<html class="page" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--  Edge и ряд мобильных браузеров слишком умны. Отключим это.-->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="google" content="notranslate">
    <title>Windows gallery | Kitek</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link type="text/css" rel="stylesheet" href="../css/case-study.css" data-inprogress="">
</head>

<body class="theme-white">
    <header class="header" id="header">
        <div class="header__inner">
            <a class="header__logo-link" href="index.html">
                <picture class="header__wrapper-logo">
                    <img class="logo white-theme white-theme--active" src="../img/logo-black.png" alt="Логотип">
                    <img class="logo black-theme" src="../img/logo-white.png" alt="Логотип">
                </picture>
            </a>
            <button class="menu-burger header__burger" type="button">
      <span class="menu-burger__toggle-line"></span>
      <span class="menu-burger__rel">Открыть меню</span>
    </button>
            <nav class="navigation header__navigation">
                <div class="header__navigation-wrapper">
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a href="index.html" class="navigation__link">Home</a>
                        </li>
                        <li class="navigation__item">
                            <a href="about-us.html" class="navigation__link">About us</a>
                        </li>
                        <li class="navigation__item">
                            <a href="services.html" class="navigation__link">Services</a>
                        </li>
                        <li class="navigation__item">
                            <a href="process.html" class="navigation__link">Our process</a>
                        </li>
                        <li class="navigation__item">
                            <a href="cases.html" class="navigation__link">Cases</a>
                        </li>
                        <li class="navigation__item">
                            <a href="careers.html" class="navigation__link">Careers</a>
                        </li>
                    </ul>
                </div>
                <a href="get-quote.html" class="button button--border button--border-blue header__button">Get Quote</a>
            </nav>
        </div>
    </header>



    <main class="page__main">
        <!-- Секция Хлебные крошки -->
        <section class="breadcrumbs-block">
            <div class="breadcrumbs-block__inner">
                <ul class="breadcrumbs">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="cases.html">Case studies</a>
                    </li>
                    <li>
                        <span>Windows gallery</span>
                    </li>
                </ul>
            </div>
        </section>

        <!-- Секция cases -->
        <section class="case-study">
            <div class="case-study__inner">
                <h2 class="title">Windows <strong class="title__strong">gallery</strong></h2>
                <div class="case-study__top">
                    <div class="case-study__content-top">
                        <img class="case-study__logo white-theme white-theme--active" src="../img/case-study/case-logo.png" alt="Logo">
                        <img class="case-study__logo black-theme" src="../img/case-study/case-logo-bl.png" alt="Logo">
                        <p class="case-study__description">Accumsan ultrices suspendisse eget, rem fusce sit, tincidunt elit, nonummy nec lectus libero</p>
                    </div>
                    <ul class="case-study__carousel">
                        <li class="case-study__item">
                            <div class="case-study__item-wrapper">
                                <img class="case-study__item-img" src="../img/case-study/case-inner2.jpg" alt="case-study foto">
                            </div>
                        </li>
                        <li class="case-study__item case-study__item--green">
                            <div class="case-study__item-wrapper">
                                <img class="case-study__item-img" src="../img/case-study/case-inner2.jpg" alt="case-study foto">
                            </div>
                        </li>
                        <li class="case-study__item case-study__item--blue">
                            <div class="case-study__item-wrapper">
                                <img class="case-study__item-img" src="../img/case-study/case-inner2.jpg" alt="case-study foto">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="case-study__body">
                    <strong class="case-study__title">Project tasks</strong>
                    <p class="case-study__text">Lorem ipsum dolor sit amet, mollis suscipit penatibus nullam sit, lorem mi metus, felis libero nam eu aliquet suspendisse ac, nulla mauris purus pellentesque faucibus ut sed. Adipiscing exercitation sed tellus morbi sed, consectetuer
                        integer at. </p>
                    <strong class="case-study__title">Result</strong>
                    <div class="case-study__content">
                        <p>
                            Metus vitae mattis, ut purus lorem lorem velit, id nulla, vitae a aptent sit eget luctus. Nec dui aliquam nec sed ipsum ipsum, lacus proin sapien imperdiet hac, lectus quis. Ad nec quam, ornare pede senectus diam quis at, sed vehicula purus. Vestibulum
                            luctus tellus metus non, posuere orci a lectus fusce mi, aliquet ligula turpis nec lacus, orci amet, amet praesent nulla varius.
                        </p>
                        <p>
                            Rutrum tempor fusce semper, diam ut sed velit urna vitae, elit dictum vulputate aliquam consequat class, consectetuer dictum morbi wisi. Est ac, venenatis nullam iusto proin, mauris ac sed enim orci in, orci neque tellus egestas.
                        </p>
                    </div>
                    <button type="button" class="button button--link case-study__button js-more"><span>Show more</span><i
                class="icon-arrow icon icon--oval case-study__icon"></i></button>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__inner">
            <h2 class="footer__title">Навигация по сайту</h2>
            <div class="footer__top">
                <nav class="navigation footer__navigation">
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a href="index.html" class="navigation__link">Home</a>
                        </li>
                        <li class="navigation__item">
                            <a href="about-us.html" class="navigation__link">About us</a>
                        </li>
                        <li class="navigation__item">
                            <a href="services.html" class="navigation__link">Services</a>
                        </li>
                        <li class="navigation__item">
                            <a href="our-process.html" class="navigation__link">Our process</a>
                        </li>
                        <li class="navigation__item">
                            <a href="cases.html" class="navigation__link">Cases</a>
                        </li>
                        <li class="navigation__item">
                            <a href="careers.html" class="navigation__link">Careers</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__bottom">
                <ul class="contact footer__contact">
                    <li class="contact__item footer__contact-item">
                        <i class="icon-call"></i>
                        <p class="contact__item-info">
                            <a class="contact__link" href="tel:+130000000">+1 300 00 000</a>
                        </p>
                    </li>
                    <li class="contact__item footer__contact-item">
                        <i class="icon-email"></i>
                        <p class="contact__item-info">
                            <span class="contact__item-description">sales</span>
                            <a class="contact__link" href="mailto:info@kitek.com.au">info@kitek.com.au</a>
                        </p>
                    </li>
                    <li class="contact__item footer__contact-item">
                        <i class="icon-email"></i>
                        <p class="contact__item-info">
                            <span class="contact__item-description">support</span>
                            <a class="contact__link" href="mailto:info@kitek.com.au">info@kitek.com.au</a>
                        </p>
                    </li>
                </ul>
            </div>
            <p class="copyright footer__copyright">© 2018 Kitek Pty Ltd. All rights reserved</p>
        </div>
    </footer>


    <div class="row-swish">
        <button class="swish">изменить тему на черную</button>
        <button class="swish-back">изменить тему на белую</button>
    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/case-study.min.js"></script>

</body>

</html>