<!DOCTYPE html>
<html class="page" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--  Edge и ряд мобильных браузеров слишком умны. Отключим это.-->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="google" content="notranslate">
    <title>Services | Kitek</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link type="text/css" rel="stylesheet" href="../css/services.css" data-inprogress="">
</head>

<body class="theme-white">
    <header class="header" id="header">
        <div class="header__inner">
            <a class="header__logo-link" href="index.html">
                <picture class="header__wrapper-logo">
                    <img class="logo white-theme white-theme--active" src="../img/logo-black.png" alt="Логотип">
                    <img class="logo black-theme" src="../img/logo-white.png" alt="Логотип">
                </picture>
            </a>
            <button class="menu-burger header__burger" type="button">
      <span class="menu-burger__toggle-line"></span>
      <span class="menu-burger__rel">Открыть меню</span>
    </button>
            <nav class="navigation header__navigation">
                <div class="header__navigation-wrapper">
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a href="index.html" class="navigation__link">Home</a>
                        </li>
                        <li class="navigation__item">
                            <a href="about-us.html" class="navigation__link">About us</a>
                        </li>
                        <li class="navigation__item">
                            <a href="services.html" class="navigation__link">Services</a>
                        </li>
                        <li class="navigation__item">
                            <a href="process.html" class="navigation__link">Our process</a>
                        </li>
                        <li class="navigation__item">
                            <a href="cases.html" class="navigation__link">Cases</a>
                        </li>
                        <li class="navigation__item">
                            <a href="careers.html" class="navigation__link">Careers</a>
                        </li>
                    </ul>
                </div>
                <a href="get-quote.html" class="button button--border button--border-blue header__button">Get Quote</a>
            </nav>
        </div>
    </header>



    <main class="page__main">
        <!-- Секция Хлебные крошки -->
        <section class="breadcrumbs-block">
            <div class="breadcrumbs-block__inner">
                <ul class="breadcrumbs">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <span>Services</span>
                    </li>
                </ul>
            </div>
        </section>

        <!-- Секция about-us -->
        <section class="about-us services">
            <div class="about-us__inner">
                <h2 class="services__title title">Our <strong class="title__strong">services</strong></h2>
                <ul class="about-us__carousel">
                    <li class="about-us__item about-us__item--border">
                        <a href="services-inner.html" class="about-us__item-link" data-tab="#tab-1">
            <img src="../img/index/about-us-1.png" alt="Фотография блока" class="about-us__icon">
            <div class="about-us__content">
              <h3 class="about-us__item-title">Custom web and mobile development</h3>
              <p class="about-us__description">Tempor sed sed, aliquet ut, urna proin dignissim. Magna dolor et. Integer
                egestas, euismod imperdiet morbi, eget pulvinar. Id arcu.</p>
            </div>
          </a>
                    </li>
                    <li class="about-us__item about-us__item--border">
                        <a href="services-inner.html" class="about-us__item-link" data-tab="#tab-2">
            <img src="../img/index/about-us-2.png" alt="Фотография блока" class="about-us__icon about-us__icon--big">
            <div class="about-us__content">
              <h3 class="about-us__item-title">Business process automation</h3>
              <p class="about-us__description">Tempor sed sed, aliquet ut, urna proin dignissim. Magna dolor et. Integer
                egestas, euismod imperdiet morbi, eget pulvinar. Id arcu.</p>
            </div>
          </a>
                    </li>
                    <li class="about-us__item about-us__item--border">
                        <a href="services-inner.html" class="about-us__item-link" data-tab="#tab-3">
            <img src="../img/index/about-us-3.png" alt="Фотография блока" class="about-us__icon">
            <div class="about-us__content">
              <h3 class="about-us__item-title">Marketing</h3>
              <p class="about-us__description">Tempor sed sed, aliquet ut, urna proin dignissim. Magna dolor et. Integer
                egestas, euismod imperdiet morbi, eget pulvinar. Id arcu.</p>
            </div>
          </a>
                    </li>
                    <li class="about-us__item about-us__item--border">
                        <a href="services-inner.html" class="about-us__item-link" data-tab="#tab-4">
            <img src="../img/index/about-us-4.png" alt="Фотография блока" class="about-us__icon">
            <div class="about-us__content">
              <h3 class="about-us__item-title">Business intelligence</h3>
              <p class="about-us__description">Tempor sed sed, aliquet ut, urna proin dignissim. Magna dolor et. Integer
                egestas, euismod imperdiet morbi, eget pulvinar. Id arcu.</p>
            </div>
          </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__inner">
            <h2 class="footer__title">Навигация по сайту</h2>
            <div class="footer__top">
                <nav class="navigation footer__navigation">
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a href="index.html" class="navigation__link">Home</a>
                        </li>
                        <li class="navigation__item">
                            <a href="about-us.html" class="navigation__link">About us</a>
                        </li>
                        <li class="navigation__item">
                            <a href="services.html" class="navigation__link">Services</a>
                        </li>
                        <li class="navigation__item">
                            <a href="our-process.html" class="navigation__link">Our process</a>
                        </li>
                        <li class="navigation__item">
                            <a href="cases.html" class="navigation__link">Cases</a>
                        </li>
                        <li class="navigation__item">
                            <a href="careers.html" class="navigation__link">Careers</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__bottom">
                <ul class="contact footer__contact">
                    <li class="contact__item footer__contact-item">
                        <i class="icon-call"></i>
                        <p class="contact__item-info">
                            <a class="contact__link" href="tel:+130000000">+1 300 00 000</a>
                        </p>
                    </li>
                    <li class="contact__item footer__contact-item">
                        <i class="icon-email"></i>
                        <p class="contact__item-info">
                            <span class="contact__item-description">sales</span>
                            <a class="contact__link" href="mailto:info@kitek.com.au">info@kitek.com.au</a>
                        </p>
                    </li>
                    <li class="contact__item footer__contact-item">
                        <i class="icon-email"></i>
                        <p class="contact__item-info">
                            <span class="contact__item-description">support</span>
                            <a class="contact__link" href="mailto:info@kitek.com.au">info@kitek.com.au</a>
                        </p>
                    </li>
                </ul>
            </div>
            <p class="copyright footer__copyright">© 2018 Kitek Pty Ltd. All rights reserved</p>
        </div>
    </footer>


    <div class="row-swish">
        <button class="swish">изменить тему на черную</button>
        <button class="swish-back">изменить тему на белую</button>
    </div>


    <script src="../js/jquery.min.js"></script>
    <!--<script src="../js/slick.min.js"></script>-->
    <script src="../js/script.min.js"></script>
    <script src="../js/services.min.js"></script>

</body>

</html>