<!DOCTYPE html>
<html class="page" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--  Edge и ряд мобильных браузеров слишком умны. Отключим это.-->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="google" content="notranslate">
    <title>Services inner | Kitek</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link type="text/css" rel="stylesheet" href="../css/services-inner.css" data-inprogress="">
</head>

<body class="theme-white">
    <header class="header" id="header">
        <div class="header__inner">
            <a class="header__logo-link" href="index.html">
                <picture class="header__wrapper-logo">
                    <img class="logo white-theme white-theme--active" src="../img/logo-black.png" alt="Логотип">
                    <img class="logo black-theme" src="../img/logo-white.png" alt="Логотип">
                </picture>
            </a>
            <button class="menu-burger header__burger" type="button">
      <span class="menu-burger__toggle-line"></span>
      <span class="menu-burger__rel">Открыть меню</span>
    </button>
            <nav class="navigation header__navigation">
                <div class="header__navigation-wrapper">
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a href="index.html" class="navigation__link">Home</a>
                        </li>
                        <li class="navigation__item">
                            <a href="about-us.html" class="navigation__link">About us</a>
                        </li>
                        <li class="navigation__item">
                            <a href="services.html" class="navigation__link">Services</a>
                        </li>
                        <li class="navigation__item">
                            <a href="process.html" class="navigation__link">Our process</a>
                        </li>
                        <li class="navigation__item">
                            <a href="cases.html" class="navigation__link">Cases</a>
                        </li>
                        <li class="navigation__item">
                            <a href="careers.html" class="navigation__link">Careers</a>
                        </li>
                    </ul>
                </div>
                <a href="get-quote.html" class="button button--border button--border-blue header__button">Get Quote</a>
            </nav>
        </div>
    </header>



    <main class="page__main">
        <!-- Секция Хлебные крошки -->
        <section class="breadcrumbs-block">
            <div class="breadcrumbs-block__inner">
                <ul class="breadcrumbs breadcrumbs--inline">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <span>Custom web and mobile development</span>
                    </li>
                </ul>
            </div>
        </section>

        <!-- Секция services-inner -->
        <section class="services-inner">
            <div class="services-inner__inner">
                <div class="tabs services-inner__tabs">
                    <aside class="services-inner__aside">
                        <ul class="tabs__caption">
                            <li class="tabs-active" id="tab-1">Custom web and mobile development</li>
                            <li id="tab-2">Business process automation</li>
                            <li id="tab-3">Marketing</li>
                            <li id="tab-4">Business intelligence</li>
                        </ul>
                    </aside>
                    <div class="services-inner__case-wrapper">
                        <div class="services-inner__case-wrapper-inner">
                            <h3 class="services-inner__case-title">Cases:</h3>
                            <ul class="services-inner__case-list services-inner__case-list--active" data-id="tab-1">
                                <li class="services-inner__case-item">
                                    <a class="services-inner__case-link" href="#">Project name 1</a>
                                </li>
                                <li class="services-inner__case-item">
                                    <a class="services-inner__case-link" href="#">Project name 2</a>
                                </li>
                                <li class="services-inner__case-item">
                                    <a class="services-inner__case-link" href="#">Project name 3</a>
                                </li>
                                <li class="services-inner__case-item">
                                    <a class="services-inner__case-link" href="#">Project name 4</a>
                                </li>
                            </ul>
                            <ul class="services-inner__case-list" data-id="tab-2">
                                <li class="services-inner__case-item">
                                    <a class="services-inner__case-link" href="#">Project name2 1</a>
                                </li>
                                <li class="services-inner__case-item">
                                    <a class="services-inner__case-link" href="#">Project name2 2</a>
                                </li>
                                <li class="services-inner__case-item">
                                    <a class="services-inner__case-link" href="#">Project name2 3</a>
                                </li>
                                <li class="services-inner__case-item">
                                    <a class="services-inner__case-link" href="#">Project name2 4</a>
                                </li>
                            </ul>
                            <ul class="services-inner__case-list" data-id="tab-3">
                                <li class="services-inner__case-item">
                                    <a class="services-inner__case-link" href="#">Project name3 1</a>
                                </li>
                                <li class="services-inner__case-item">
                                    <a class="services-inner__case-link" href="#">Project name3 2</a>
                                </li>
                                <li class="services-inner__case-item">
                                    <a class="services-inner__case-link" href="#">Project name3 3</a>
                                </li>
                                <li class="services-inner__case-item">
                                    <a class="services-inner__case-link" href="#">Project name3 4</a>
                                </li>
                            </ul>
                            <ul class="services-inner__case-list" data-id="tab-4">
                                <li class="services-inner__case-item">
                                    <a class="services-inner__case-link" href="#">Project name4 1</a>
                                </li>
                                <li class="services-inner__case-item">
                                    <a class="services-inner__case-link" href="#">Project name4 2</a>
                                </li>
                                <li class="services-inner__case-item">
                                    <a class="services-inner__case-link" href="#">Project name4 3</a>
                                </li>
                                <li class="services-inner__case-item">
                                    <a class="services-inner__case-link" href="#">Project name4 4</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h2 class="title services-inner__title">Our <strong class="title__strong">services</strong></h2>
                    <ul class="tabs__list services-inner__tabs-list">
                        <li class="tabs__content tabs-active" data-id="tab-1">
                            <div class="services-inner__tab-header">
                                <img class="services-inner__img" src="../img/index/about-us-1.png" alt="Logo tabs">
                                <h3 class="services-inner__tab-title">Custom web and mobile development</h3>
                            </div>
                            <div class="services-inner__tab-description">
                                <p>Lorem ipsum dolor sit amet, mollis suscipit penatibus nullam sit, lorem mi metus, felis libero nam eu aliquet suspendisse ac, nulla mauris purus pellentesque faucibus ut sed. Adipiscing exercitation sed tellus morbi sed,
                                    consectetuer integer at. Sit quis donec parturient pede est, tellus viverra. Et eget viverra ut, aliquam donec quis et venenatis vivamus, nec nec tellus dictum auctor. Potenti nam nulla ullamcorper aenean, suspendisse
                                    malesuada maecenas. Commodo ut bibendum tincidunt ligula, cras turpis ac, ipsum ante cras ullamcorper wisi neque erat, vehicula odio, aenean enim turpis.</p>
                                <p>
                                    Ultrices in neque leo leo sem eleifend, risus in nunc arcu, egestas mauris, ornare risus, malesuada blandit malesuada fringilla facilisis sapien sodales. Etiam duis mi facilisis et, non wisi irure duis enim, luctus velit nascetur, cras velit, quis phasellus.
                                    Tempus feugiat nibh ante sed etiam.
                                </p>
                            </div>
                        </li>
                        <li class="tabs__content" data-id="tab-2">
                            <div class="services-inner__tab-header">
                                <img class="services-inner__img" src="../img/index/about-us-2.png" alt="Logo tabs">
                                <h3 class="services-inner__tab-title">Business process automation</h3>
                            </div>
                            <div class="services-inner__tab-description">
                                <p>Lorem ipsum dolor sit amet, mollis suscipit penatibus nullam sit, lorem mi metus, felis libero nam eu aliquet suspendisse ac, nulla mauris purus pellentesque faucibus ut sed. Adipiscing exercitation sed tellus morbi sed,
                                    consectetuer integer at. Sit quis donec parturient pede est, tellus viverra. Et eget viverra ut, aliquam donec quis et venenatis vivamus, nec nec tellus dictum auctor. Potenti nam nulla ullamcorper aenean, suspendisse
                                    malesuada maecenas. Commodo ut bibendum tincidunt ligula, cras turpis ac, ipsum ante cras ullamcorper wisi neque erat, vehicula odio, aenean enim turpis.</p>
                                <p>
                                    Ultrices in neque leo leo sem eleifend, risus in nunc arcu, egestas mauris, ornare risus, malesuada blandit malesuada fringilla facilisis sapien sodales. Etiam duis mi facilisis et, non wisi irure duis enim, luctus velit nascetur, cras velit, quis phasellus.
                                    Tempus feugiat nibh ante sed etiam.
                                </p>
                            </div>
                        </li>
                        <li class="tabs__content" data-id="tab-3">
                            <div class="services-inner__tab-header">
                                <img class="services-inner__img" src="../img/index/about-us-3.png" alt="Logo tabs">
                                <h3 class="services-inner__tab-title">Marketing</h3>
                            </div>
                            <div class="services-inner__tab-description">
                                <p>Lorem ipsum dolor sit amet, mollis suscipit penatibus nullam sit, lorem mi metus, felis libero nam eu aliquet suspendisse ac, nulla mauris purus pellentesque faucibus ut sed. Adipiscing exercitation sed tellus morbi sed,
                                    consectetuer integer at. Sit quis donec parturient pede est, tellus viverra. Et eget viverra ut, aliquam donec quis et venenatis vivamus, nec nec tellus dictum auctor. Potenti nam nulla ullamcorper aenean, suspendisse
                                    malesuada maecenas. Commodo ut bibendum tincidunt ligula, cras turpis ac, ipsum ante cras ullamcorper wisi neque erat, vehicula odio, aenean enim turpis.</p>
                                <p>
                                    Ultrices in neque leo leo sem eleifend, risus in nunc arcu, egestas mauris, ornare risus, malesuada blandit malesuada fringilla facilisis sapien sodales. Etiam duis mi facilisis et, non wisi irure duis enim, luctus velit nascetur, cras velit, quis phasellus.
                                    Tempus feugiat nibh ante sed etiam.
                                </p>
                            </div>
                        </li>
                        <li class="tabs__content" data-id="tab-4">
                            <div class="services-inner__tab-header">
                                <img class="services-inner__img" src="../img/index/about-us-4.png" alt="Logo tabs">
                                <h3 class="services-inner__tab-title">Business intelligence</h3>
                            </div>
                            <div class="services-inner__tab-description">
                                <p>Lorem ipsum dolor sit amet, mollis suscipit penatibus nullam sit, lorem mi metus, felis libero nam eu aliquet suspendisse ac, nulla mauris purus pellentesque faucibus ut sed. Adipiscing exercitation sed tellus morbi sed,
                                    consectetuer integer at. Sit quis donec parturient pede est, tellus viverra. Et eget viverra ut, aliquam donec quis et venenatis vivamus, nec nec tellus dictum auctor. Potenti nam nulla ullamcorper aenean, suspendisse
                                    malesuada maecenas. Commodo ut bibendum tincidunt ligula, cras turpis ac, ipsum ante cras ullamcorper wisi neque erat, vehicula odio, aenean enim turpis.</p>
                                <p>
                                    Ultrices in neque leo leo sem eleifend, risus in nunc arcu, egestas mauris, ornare risus, malesuada blandit malesuada fringilla facilisis sapien sodales. Etiam duis mi facilisis et, non wisi irure duis enim, luctus velit nascetur, cras velit, quis phasellus.
                                    Tempus feugiat nibh ante sed etiam.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__inner">
            <h2 class="footer__title">Навигация по сайту</h2>
            <div class="footer__top">
                <nav class="navigation footer__navigation">
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a href="index.html" class="navigation__link">Home</a>
                        </li>
                        <li class="navigation__item">
                            <a href="about-us.html" class="navigation__link">About us</a>
                        </li>
                        <li class="navigation__item">
                            <a href="services.html" class="navigation__link">Services</a>
                        </li>
                        <li class="navigation__item">
                            <a href="our-process.html" class="navigation__link">Our process</a>
                        </li>
                        <li class="navigation__item">
                            <a href="cases.html" class="navigation__link">Cases</a>
                        </li>
                        <li class="navigation__item">
                            <a href="careers.html" class="navigation__link">Careers</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__bottom">
                <ul class="contact footer__contact">
                    <li class="contact__item footer__contact-item">
                        <i class="icon-call"></i>
                        <p class="contact__item-info">
                            <a class="contact__link" href="tel:+130000000">+1 300 00 000</a>
                        </p>
                    </li>
                    <li class="contact__item footer__contact-item">
                        <i class="icon-email"></i>
                        <p class="contact__item-info">
                            <span class="contact__item-description">sales</span>
                            <a class="contact__link" href="mailto:info@kitek.com.au">info@kitek.com.au</a>
                        </p>
                    </li>
                    <li class="contact__item footer__contact-item">
                        <i class="icon-email"></i>
                        <p class="contact__item-info">
                            <span class="contact__item-description">support</span>
                            <a class="contact__link" href="mailto:info@kitek.com.au">info@kitek.com.au</a>
                        </p>
                    </li>
                </ul>
            </div>
            <p class="copyright footer__copyright">© 2018 Kitek Pty Ltd. All rights reserved</p>
        </div>
    </footer>


    <div class="row-swish">
        <button class="swish">изменить тему на черную</button>
        <button class="swish-back">изменить тему на белую</button>
    </div>

    <script src="../js/jquery.min.js"></script>
    <!--<script src="../js/slick.min.js"></script>-->
    <script src="../js/script.min.js"></script>
    <script src="../js/services-inner.min.js"></script>

</body>

</html>