<footer class="footer">
  <div class="footer__inner">
    <h2 class="footer__title">Навигация по сайту</h2>
    <div class="footer__top">
      <nav class="navigation footer__navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="index.html" class="navigation__link js-anchor">Home</a>
          </li>
          <li class="navigation__item">
            <a href="about-us.html" class="navigation__link js-anchor">About us</a>
          </li>
          <li class="navigation__item">
            <a href="services.html" class="navigation__link js-anchor">Services</a>
          </li>
          <li class="navigation__item">
            <a href="our-process.html" class="navigation__link js-anchor">Our process</a>
          </li>
          <li class="navigation__item">
            <a href="cases.html" class="navigation__link js-anchor">Cases</a>
          </li>
          <li class="navigation__item">
            <a href="careers.html" class="navigation__link js-anchor">Careers</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__bottom">
      <ul class="contact footer__contact">
        <li class="contact__item footer__contact-item">
          <i class="icon-call"></i>
          <p class="contact__item-info">
            <a class="contact__link" href="tel:+130000000">+1 300 00 000</a>
          </p>
        </li>
        <li class="contact__item footer__contact-item">
          <i class="icon-email"></i>
          <p class="contact__item-info">
            <span class="contact__item-description">sales</span>
            <a class="contact__link" href="mailto:info@kitek.com.au">info@kitek.com.au</a>
          </p>
        </li>
        <li class="contact__item footer__contact-item">
          <i class="icon-email"></i>
          <p class="contact__item-info">
            <span class="contact__item-description">support</span>
            <a class="contact__link" href="mailto:info@kitek.com.au">info@kitek.com.au</a>
          </p>
        </li>
      </ul>
    </div>
    <p class="copyright footer__copyright">© 2018 Kitek Pty Ltd. All rights reserved</p>
  </div>
</footer>
