<header class="header" id="header">
  <div class="header__inner">
    <a class="header__logo-link" href="index.html">
      <picture class="header__wrapper-logo">
        <img class="logo white-theme white-theme--active" src="../img/logo-black.png" alt="Логотип">
        <img class="logo black-theme" src="../img/logo-white.png" alt="Логотип">
      </picture>
    </a>
    <button class="menu-burger header__burger" type="button">
      <span class="menu-burger__toggle-line"></span>
      <span class="menu-burger__rel">Открыть меню</span>
    </button>
    <nav class="navigation header__navigation">
      <div class="header__navigation-wrapper">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="index.html" class="navigation__link">Home</a>
          </li>
          <li class="navigation__item">
            <a href="about-us.html" class="navigation__link">About us</a>
          </li>
          <li class="navigation__item">
            <a href="services.html" class="navigation__link">Services</a>
          </li>
          <li class="navigation__item">
            <a href="our-process.html" class="navigation__link">Our process</a>
          </li>
          <li class="navigation__item">
            <a href="cases.html" class="navigation__link">Cases</a>
          </li>
          <li class="navigation__item">
            <a href="careers.html" class="navigation__link">Careers</a>
          </li>
        </ul>
      </div>
      <a href="get-quote.html" class="button button--border button--border-blue header__button">Get Quote</a>
    </nav>
  </div>
</header>

